body {
    color: black;
}

p {
    margin-bottom: 2px;
}

img {
    width: 224px;
    height: 336px;
    object-fit: contain;
    position: relative;
}

.img-background {
    width: 224px;
    height: 336px;
    object-fit: fill;
    filter: blur(5px);
    position: absolute;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

div.scroll {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 15px;
}

.card {
    overflow: hidden;
    width: 224px;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}